reconstruction/models/smplx/*.npz
reconstruction/models/mediapipe/*.tflite
reconstruction/models/smplx/SMPLX_NEUTRAL.npz
reconstruction/models/mediapipe/selfie_segmenter.tflite
reconstruction/models/mediapipe/pose_landmarker_heavy.task
reconstruction/__pycache__/
viewer/__pycache__/
reconstruction/datas/rs_pointcloud/
reconstruction/datas/
reconstruction/src/utils/__pycache__/
.vscode/
